<div class="postSnippet">

  <h3><a href="<%= post.url %>"><%= post.title %></a></h3>

  <p class="post-info">
    <span class="date">
      <%= (post.date.getMonth() + 1) + '.' + post.date.getDate() + '.' + post.date.getFullYear() %> |
    </span>
    <span class="category">
      <%= post.category %>
    </span>
  </p>

  <div class="post content">
    <%- post.preview %>
  </div>

</div>
