<div class="project col-sm-5">

  <h3><a href=<%= project.url %>><%= project.title %></a></h3>
  <img src="<%= project.img %>" width="200" />
  <p><%= project.description %></p>
  <p>tags:
    <% project.tags.forEach(function(tag) { %>
      <%= tag %>,
    <% }) %>
  </p>

</div>
